$font-serif: 'Playfair Display', 'Higuen Serif', serif;
$font-sans: 'Inter', sans-serif;

h1, h2, h3 {
  font-family: $font-serif;
  font-weight: 600;
  line-height: 1.2;
}

body, p, button, input {
  font-family: $font-sans;
} 