// 颜色
$color-brand-brown: #9B573B;
$color-brand-purple: #4F3E9C;
$color-accent-dark: #214E46;
$color-accent-light: #BFE5D7;
$color-accent-skin: #F5EDE6;

// 圆角 & 阴影
$radius-pill: 16px;
$shadow-soft: 0 2px 6px rgba(0,0,0,.08); 